@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        /* #1677ff */
        --primary: 215.021, 100%, 54%;

        --primary-foreground: 210 20% 98%;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 224 71.4% 4.1%;
        --radius: 0.5rem;
    }
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.component-selected {
    @apply relative;
}

.component-selected::after {
    content: ' ';
    @apply border-primary border border-dashed w-full h-full absolute left-0 top-0 pointer-events-none block;
}

.transition {
    transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.craftjs-renderer .ant-input,
.craftjs-renderer .ant-input-number,
.craftjs-renderer .ant-input-affix-wrapper,
.craftjs-renderer .ant-cascader-picker,
.craftjs-renderer .ant-picker-input,
.craftjs-renderer .ant-picker,
.craftjs-renderer .ant-cascader-picker-label,
.craftjs-renderer .ant-slider,
.craftjs-renderer .ant-checkbox,
.craftjs-renderer .ant-rate,
.craftjs-renderer .ant-switch,
.craftjs-renderer .ant-radio,
.craftjs-renderer .ant-radio-wrapper,
.craftjs-renderer .ant-checkbox-group,
.craftjs-renderer .ant-checkbox-wrapper,
.craftjs-renderer .ant-radio-group,
.craftjs-renderer .ant-upload,
.craftjs-renderer .ant-transfer,
.craftjs-renderer .ant-select,
.craftjs-renderer .ant-select-selector {
    pointer-events: none !important;
}

.craftjs-renderer .ant-input input,
.craftjs-renderer .ant-input-number input,
.craftjs-renderer .ant-input-affix-wrapper input,
.craftjs-renderer .ant-cascader-picker input,
.craftjs-renderer .ant-picker-input input,
.craftjs-renderer .ant-picker input,
.craftjs-renderer .ant-cascader-picker-label input,
.craftjs-renderer .ant-slider input,
.craftjs-renderer .ant-checkbox input,
.craftjs-renderer .ant-rate input,
.craftjs-renderer .ant-switch input,
.craftjs-renderer .ant-radio input,
.craftjs-renderer .ant-radio-wrapper input,
.craftjs-renderer .ant-checkbox-group input,
.craftjs-renderer .ant-checkbox-wrapper input,
.craftjs-renderer .ant-radio-group input,
.craftjs-renderer .ant-upload input,
.craftjs-renderer .ant-transfer input,
.craftjs-renderer .ant-select input,
.craftjs-renderer .ant-select-selector input {
    pointer-events: none !important;
}

.craftjs-renderer .anticon svg {
    pointer-events: none;
}